<table>
    <h2>Datos de usuario</h2>
	<thead>
		<th>Nombre Usuario</th>
        <th>Rut Usuario</th>
	</thead>
	<tbody>
		<tr>
			<td>{{ persona.nombre }}</td>
			<td>{{ persona.rut }}</td>
		</tr>
	</tbody>
</table>
<button type="button" ui="button" class="green">Ver amigos</button>
<table>
    <h2>Amigos de usuario</h2>
	<thead>
            <th>Nombre Amigo</th>
            <th>Rut Amigo</th>
	</thead>
	<tbody>
		<tr>
			<td>{{ amigo.nombre }}</td>
			<td>{{ amigo.rut }}</td>
		</tr>
	</tbody>
</table>